.wrapper-main {
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

.navbar {
    background-color: rgb(56, 160, 160);
}

.clinic-container {
    padding: 30px;
}


.input-container {
    margin: 0 auto;
    width: 400px;
    background-color: rgb(56, 160, 160);
    padding: 30px 30px;
}

.btn-container {
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-information {
    text-align: center;
    font-size: 36px;
}

.form {
    display: flex;
    justify-content: space-around;
}

#search-title {
    width: 150px;
}

.logo-link:hover {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    margin-left: 10px;
}

.logo img {
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

#modalContainer {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#modalContent {
    background-color: #fff;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
}

#doctorType {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: rgb(56, 160, 160);
    color: #333;
    border: none;
}

#form {
    margin-top: 20px;
}

#form input,
#form select {
    display: block;
    margin-bottom: 10px;
    width: 95%;
    padding: 8px;
    font-size: 16px;
}

#buttonBlock {
    display: flex;
}

#create,
#closeModal {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(56, 160, 160);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#board {
    margin-top: 20px;
}

#board div {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
}

#board h2 {
    font-size: 20px;
    margin-top: 0;
}

#board p {
    margin-bottom: 5px;
}

#addVisit {
    display: none;
}

.wrapper {
    display: none;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 15px;
    width: 30%;
    margin: 15px;
}

.btn-danger {
    color: #fff;
    background-color: rgb(56, 160, 160);
    border-color: rgb(56, 160, 160);
}

.btn-danger:hover {
    background-color: rgb(56, 160, 160);
    border-color: rgb(56, 160, 160);
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: rgb(56, 160, 160);
    border-color: rgb(56, 160, 160);
}

.btn-outline-dark {
    border-color: rgb(56, 160, 160);
}

.card-details {
    display: block;
}

.hidden {
    display: none;
}


.button-block {
    display: flex;
    width: 275px;
    justify-content: space-between;
}